@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.select-button {
    height: 28px;
    min-width: 90px;
    width: auto;
    padding: 8px 12px !important;
    border-radius: 100px !important;
    background-color: $card-background !important;
    color: $text-primary !important;
    font-family: $font-family-inter !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    text-transform: none !important;
    gap: 2px !important;
    box-shadow: none !important;
    border: 1px solid transparent !important;
    white-space: nowrap;
    transition:
        background-color $transition-normal,
        border-color $transition-normal;

    &:hover {
        background-color: rgba(50, 154, 133, 0.05) !important;
    }

    &--active {
        border: 1px solid $primary-color !important;
        background-color: $card-background !important;

        &:hover {
            background-color: $card-background !important;
        }
    }

    &__icon {
        margin-left: 2px;
        flex-shrink: 0;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed !important;
    }

    @include tablet {
        min-width: 80px;
        padding: 6px 10px !important;
        font-size: 13px !important;
        height: 26px;
    }

    @include mobile {
        min-width: 70px;
        padding: 5px 8px !important;
        font-size: 12px !important;
        height: 24px;
    }
}

