@import '../variables';
@import  '../mixins';

.navButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;

    @include navTypography;
    text-transform: none;
    border-radius: 6px;
    transition: background-color 0.2s ease;

    border: 1px solid transparent;
    background-color: transparent;
    box-shadow: none;

    // Неактивное состояние
    &.inactive {
        color: $text-secondary;

        &:hover {
            background-color: $action-hover;
            cursor:pointer;
        }
    }

    &.active {
        border: 1px solid $primary-color !important;
        color: $primary-color !important;

        &:hover {
            border-color: $primary-dark !important;
            color: $primary-dark !important;
            cursor: default;
        }
    }

    // Адаптивность
    @include tablet {
        width: 70px;
        height: fit-content !important;
        min-width: fit-content !important;
        font-size: 13px;
    }

    @include mobile {
        width: 60px;
        height: fit-content !important;
        min-width: fit-content !important;
        font-size: 10px;
    }
}

.icon {
    display: block;

    &.active {
        filter: invert(100%) sepia(100%) saturate(1350%) hue-rotate(180deg);
    }
    
    @include tablet {
        width: 70px;
    }

    @include mobile {
        width: 60px;
    }
}



.label {
    display: block;
    margin: 0 5px;
}

