@use '@/shared/styles/variables' as *;

.qr-button {
    padding: 4px !important;
    width: 50px !important;
    min-width: 50px !important;
    height: $button-height !important;
    border: 1px solid $divider-color !important;
    border-radius: $border-radius-sm !important;
    background-color: transparent !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    &:hover {
        background-color: $action-hover !important;
    }
}

