@use '@/shared/styles/mixins' as *;

.main-page-container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    max-width: 100% !important;

    @include mobile {
        padding-left: 0.75rem !important;
        padding-right: 0.75rem !important;
    }
}

.main-page-section {
    margin-top: 1rem;
    margin-bottom: 2rem;

    @include mobile {
        margin-top: 0.75rem;
        margin-bottom: 1.5rem;
    }
}

