@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.statistics {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2px;
    width: fit-content;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1rem;

    @include tablet {
        max-width: 100%;
        justify-content: flex-start;
    }

    @include mobile {
        max-width: 100%;
        justify-content: flex-start;
    }
}

.statistics__item {
    flex-shrink: 0;

    @include tablet {
        flex: 1 1 calc(50% - 0.5rem);
        min-width: 0;
    }

    @include mobile {
        flex: 1 1 100%;
        min-width: 0;
    }
}

