@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.lang-switcher {
    display: flex;
    align-items: center;
    transition: filter $transition-slow;

    &:hover {
        filter: $icon-primary-filter;
    }
}

.lang-switcher__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 4px;
    background-color: transparent;
    min-width: auto;
    width: auto;
    height: auto;
    padding: 4px 8px;
    gap: 2px;
}

.lang-switcher__label {
    @include navTypography;
    color: inherit;
    white-space: nowrap;
}

