@use '@/shared/styles/variables' as *;
@use '@/shared/styles/mixins' as *;

.header {

}

.header__toolbar {
    height: 80px;
    padding: 0 1rem;

    @include mobile {
        height: 60px;
        padding: 0 0.75rem;
    }
}

.header__navbar--desktop {
    @include mobile {
        display: none !important;
    }
}

.header__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    height: 100%;

    @include mobile {
        gap: 0.5rem;
    }
}

.header__lang-switcher--desktop {
    @include mobile {
        display: none !important;
    }
}

